$unit: 4em;
$margin: 0.5em;
$shadow-color: $surface1;

.control-center {
  border-radius: $radius;
  background-color: $lavender;
  margin: 5px;
}
.singlebutton:hover, .dualbutton-secondary:hover, .dualbutton-primary:hover, .slideraction:hover, .slidermenu:hover , .highlight:hover{
  background-color: $surface0;
  border-radius: $radius;
}

.slidergroup, .dualbutton, .performance, .singlebutton, .submenu{
  border-radius: $radius;
  margin: 0.2em;
  box-shadow: 3px 3px $shadow-color;
  min-height: $unit;
  min-width: $unit;
  background-color: $base;
}



// dualbutton
.dualbutton-primary {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}
.dualbutton-secondary {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
}

// slidergroup
.slideraction {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  min-width: 0.7 * $unit;
}
.slidermenu {
  border-bottom-right-radius: $radius;
  border-top-right-radius: $radius;
  min-width: 0.4 * $unit;
}


.performance {
  min-height: 2 * $unit;
  min-width: 2 * $unit;
}
.circle {
  margin: 0.5em;
}
.cpu { color: $red; }
.ram { color: $green;}
.dsk { color: $mauve;}
.bty { color: $peach;}
